/* Estilização geral */
body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


p {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

/* Navbar */
.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

/* Logo à direita */
.navbar-brand {
    background-color: #FBBDD4;
    padding: 8px;
    border-radius: 50%;
}

.logo-img {
    width: 40px; /* Ajustando tamanho da logo */
    height: 40px;
    border-radius: 50%;
}

/* Menu alinhado à esquerda */
.navbar-nav {
    gap: 15px; /* Adiciona espaçamento entre os itens */
}

/* Ajuste para telas menores */
@media (max-width: 991px) {
    .navbar .container {
        flex-direction: row-reverse; /* Mantém a logo à direita no mobile */
    }
    .navbar-nav {
        text-align: left;
    }
}


/* Capa */
.d-flex.align-items-end {
    min-height: 100vh;
    padding-bottom: 5%;
}

/* Animação do botão */
.animate-button {
    transition: transform 0.3s ease-in-out, background 0.3s;
}

.btn-primary {
    background-color: #0713F2;

}

.animate-button:hover {
    transform: scale(1.1);
    background: #ffc107 !important;
    color: black !important;
}

    /* Chamada para ação */
    .text-center.text-white {
        padding: 120px 60px; 
        background-color: #7ba2af;
        margin: 4em 2em; 
        display: flex;
        flex-direction: column;
        gap: 20px; 
        text-align: center;
    }

    .animate-button {
        transition: transform 0.3s ease-in-out, background 0.3s;
    }

    .animate-button:hover {
        transform: scale(1.1);
        background: #ffc107 !important;
        color: black !important;
    }

    @media (max-width: 768px) {
        .text-center.text-white {
            padding: 80px 30px; 
            margin: 2em;
        }
    }

/* Sobre Mim */
#sobre {
    padding: 100px 50px; 
}

#sobre img {
    border-radius: 10px;
    max-width: 90%; 
    height: auto;
}

.sobre {
    background-color: #918f8f;
}

#sobre .row {
    margin-bottom: 30px;
}


/* Background Divisão */
.background-divisao {
    height: 600px;
}

.divisao {
    height: 100%;
    padding: 600px;
    color: white;
}

/* Vídeo de Apresentação */
#video {
    padding: 120px 50px;
}

#video .row {
    margin-bottom: 40px; 
}

#video p {
    line-height: 1.8; 
}

#video .ratio {
    max-width: 90%; 
    margin: auto;
}

#video iframe {
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

footer ul {
    padding: 0;
}

footer p {
    margin-top: 10px;
}

.mail {
    text-decoration: none;

}

footer a img {
    transition: transform 0.3s ease-in-out;
}

footer a img:hover {
    transform: scale(1.1);
}